*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}

.square {
    background-color: #272727;
    margin: 2px;
    height: 16px;
    width: 16px;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0s;
}