*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: rgb(41, 32, 206);
}

.time {
    font-size: 90px;
    font-weight: 900;
    color: white;
    align-items: baseline;
    position: relative;
    left: 26%;
    top: 150px;
    display: flex;
    width: 800px;
    height: 300px;
}

.time div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 50px;
    border-radius: 30px;
    align-content: center;
    height: 200px;
    width: 200px;
    margin: 30px;
    background-image: linear-gradient(45deg ,rgb(248, 81, 14), rgb(255, 203, 59));
}